* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #0f172a;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.card {
  background: white;
  width: 400px;
  padding: 20px;
  border-radius: 12px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}

button {
  width: 100%;
  padding: 10px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.expense {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 10px;
  background: #f1f5f9;
  border-radius: 8px;
}

.delete {
  width: auto;
  background: red;
  padding: 5px 10px;
}